/* smaller buttons for internal pages */
.class-buttons#internal {
	position: absolute;
	right: 0;
	font-size: 0.4em;
}

.class-buttons#internal > button {
	width: 50px;
	height: 50px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	margin: 0px 5px;
}

/* larger buttons for homepage */
.class-buttons#homepage {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}
.class-buttons#homepage > button {
	width: 150px;
	height: 150px;
	-webkit-border-radius: 75px;
	-moz-border-radius: 75px;
	border-radius: 75px;
	margin: 10px 10px;
}

/* Default styles regardless of size of buttons */
.class-buttons > button {
	vertical-align: middle;
	text-align: center;
	text-transform: uppercase;
	font-family: Sans-Serif;
	color: white;
	border: none;
	font-weight: bold;
	font-size: 1.1em;
}
.class-buttons > button:hover {
	cursor: pointer;
}
.class-buttons {
	margin: auto;
	display: block;
}


/* Colors */
.class-buttons > button#discover {
	background-color: #00B0F0;
}
.class-buttons > button#discover:hover {
	background-color: #004B67;
}
.class-buttons > button#explore {
	background-color: #9B57D3;
}
.class-buttons > button#explore:hover {
	background-color: #361551;
}
.class-buttons > button#create {
	background-color: #91D050;
}
.class-buttons > button#create:hover {
	background-color: #385818;
}
.class-buttons > button#summer {
	background-color: #D664D3;
}
.class-buttons > button#summer:hover {
	background-color: #E18CDE;
}
.class-buttons > button#school {
	background-color: #FF8000;
}
.class-buttons > button#school:hover {
	background-color: #ff4f14;
}

