.header {
	position: relative;
}
.header img#dec_logo {
	width: 298px;
	height: 120px;
	margin-right: 2%;
	margin-bottom: 10px;
}
.header img#mines_logo {
	float: right;	
	width: 349px;
	height: 40px;
	position: absolute;
	bottom: 0;
	right: 0;
	margin-bottom: 10px;
	display: block;
}
