.header {
	position: relative;
}

.header > a {
	 width: 100%;
	 height: 100%;
	 position: absolute;
	 top: 0;
	 left: 0;
	 text-indent: -99999px;
	 overflow: hidden;
	 /*
	  * css for making a container a link taken from SO user Sinan Erdem
	  * http://stackoverflow.com/questions/8160494/how-to-make-a-whole-div-clickable-in-html-and-css-without-javascript 
	  */
}
.header > h1#dectech {
	font-family: "Britannica";
	font-weight: bold;
}

.header > h2 {
	font-family: "sans serif";
}

.header > h1#dectech > span#dec {
	color: #91278E;
}

.header > img#purple_girl {
	max-width: 10%;
	min-height: 100px;
	float: left;
	margin-right: 2%;
}

.header > img#mines_logo {
	float: right;	
	max-width: 50%;
	min-height: 50px;
}

.header h1, .header h2 {
	margin-bottom: 0px;
	margin-top: 0px;
}

.header {
	margin-bottom: 50px;
}
