.header {
	position: relative;
}

.header > h1#dectech {
	font-family: "Britannica";
	font-weight: bold;
}

.header > h2 {
	font-family: "sans serif";
}

.header > h1#dectech > span#dec {
	color: #91278E;
}

.header img#dec_logo {
	max-width: 40%;
	min-height: 100px;
	margin-right: 2%;
}

.header img#mines_logo {
	float: right;	
	max-width: 35%;
	min-height: 50px;
	position: absolute;
	bottom: 0;
	right: 0;
	margin-bottom: 10px;
	display: block;
}
.header img#mines_logo.smaller_logo {
	margin-top: 25px;
	min-height: 25px;
}

.header h1, .header h2 {
	margin-bottom: 0px;
	margin-top: 0px;
}
