.nav-bar {
	text-transform: uppercase;
	font-family: Sans-Serif;
	font-weight: bold;
	text-align: center;
	margin: auto;
	display: block;
	margin-bottom: 5px;
}

.nav-bar > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #8e44ad;
}

.nav-bar li {
	float: left;
}

.nav-bar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.nav-bar li a:hover {
	background-color: #632f79;
}

