.sponsors > h3 {
	text-align: center;
	font-size: 1.5em;
}
.sponsors > div#images {
	margin: auto;
	display: block;
	text-align: center;
}
.sponsors > div#images > a > img {
	width: 14%;
	padding: 10px;
	margin: 10px;
	vertical-align: middle;
}
.sponsors > div#images > a > img#oracle {
	width: 16%;
}
.sponsors > div#images > a > img#google {}
.sponsors > div#images > a > img#sparkfun {}
.sponsors > div#images > a > img#golden {}
.sponsors > div#images > a > img#lgs {
	width: 12%;
}
