body {
	margin: 10px;
	padding: 10px;
	font-family: Sans-Serif;
}

a {
	color: #17375D;
}
a:visited {
	color: #265C9A;
}
a:hover {
	color: #1C4471;
}

.wrapper {
	width: 1024px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -322px;
}

.content {
	max-width: 80%;
	margin: auto;
	display: block;
	border: 3px outset #DC3FEF;
	padding: 20px;
	margin-top: 10px;
}

img#front-page {
	max-width: 80%;
	margin: auto;
	display: block;
}

.good-bad-news > iframe {
	margin: auto;
	display: block;	
}

.good-bad-news {
	text-align: center;
	margin: auto;
	display: block;
	border-bottom: 5px solid #265C9A;
	padding-bottom: 20px;
}

.center {
	text-align: center;
}

#about {
	margin-bottom: 100px;
}
