body {
	margin: 10px;
	padding: 10px;
	font-family: Sans-Serif;
}

a {
	color: #8e44ad;
}
a:visited {
	color: #9b59b6;
}
a:hover {
	color: #632f79;
}

.wrapper {
	width: 80%;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -322px;
}

.content {
	max-width: 100%;
	min-height: 500px;
    max-height: auto;
	margin: auto;
	display: block;
	border: 3px outset #1abc9c;
	padding: 20px;
	margin-top: 10px;
}

img#front-page {
	max-width: 80%;
	margin: auto;
	display: block;
}

.good-bad-news > iframe {
	margin: auto;
	display: block;	
}

.good-bad-news {
	text-align: center;
	margin: auto;
	display: block;
	border-bottom: 5px solid #8e44ad;
	padding-bottom: 20px;
}

.center {
	text-align: center;
}

.main {
  font-size: 1.3em;
  max-width: 80%;
  margin: auto;
  display: block;
}

img.instructor-photo {
	float: left;
	margin-right: 10px;
	max-width: 133px;
	max-height: 200px;
}

.bios p {
	display: block;
	height: 200px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#h3toh1 {
	color: black;
	font-size:30px;
}

/*--In Action page picture grid */
.summer_eight ul, .summer_eight ol {
    list-style: none;
    line-height: 30px;
}

.image_main_container img {
    width:  100%;
    height: 200px;
    object-fit: cover;
}


.image_main_container {
    display: inline-block;
}
.image_main_container ul, .image_main_container ol {
    list-style: none;
    line-height: 0;
}

.image_main_container {
    width: 100%;
}

.image_container {
    float: left;
    width: 33.33333%;
    background-size: cover;
    overflow: hidden;
}

.team_image {
    width: 100%;
}

.media {
    position: relative;
}

.media p{
    font-size: 1em;
}

.media h1 {
    font-size: 1.5rem;
    text-align:center;
    position:absolute;
    top:35%; /* This is due to scaling issues, normal would be 50% */
    width:100%;
    transform:translate(0%,-50%);
    -webkit-transform:translate(0%,-50%);
    -ms-transform:translate(0%,-50%);
    color:#FFFFFF;
    font-family:Arial;
    text-transform:uppercase;
    display:none;
}

.image_container:hover img {
    filter: brightness(0.3);
    -webkit-filter:brightness(0.3);
    -ms-filter:brightness(0.3);
}

.image_container:hover h1 {
    display: block;
}

@media only screen and (max-width : 1000px) {
    /*row of two boxes*/
    .image_container {
        width: 33.3333%;
    }
    
    .media h1 {
        font-size: 20px;
    }
}
