body {
	margin: 10px;
	padding: 10px;
}

.header {
	position: relative;
}

.header > a {
	 width: 100%;
	 height: 100%;
	 position: absolute;
	 top: 0;
	 left: 0;
	 text-indent: -99999px;
	 overflow: hidden;
	 /*
	  * css for making a container a link taken from SO user Sinan Erdem
	  * http://stackoverflow.com/questions/8160494/how-to-make-a-whole-div-clickable-in-html-and-css-without-javascript 
	  */
}
.header > h1#dectech {
	font-family: "Britannica";
	font-weight: bold;
}

.header > h2 {
	font-family: "sans serif";
}

.header > h1#dectech > span#dec {
	color: #91278E;
}

img#purple_girl {
	max-width: 10%;
	min-height: 100px;
	float: left;
	margin-right: 2%;
}

img#mines_logo {
	float: right;	
	max-width: 40%;
	min-height: 75px;
}

.header h1, .header h2 {
	margin-bottom: 0px;
	margin-top: 0px;
}

.header {
	margin-bottom: 50px;
}

.nav-bar {
	max-width: 90%;
	margin: auto;
	display: block;
	margin-bottom: 5px;
}

.nav-bar > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

.nav-bar li {
	float: left;
}

.nav-bar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.nav-bar li a:hover {
	background-color: #111;
}

.class-buttons {
	margin: auto;
	display: block;
	max-width: 80%;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.class-buttons > button {
	text-align: center;
	font-family: "Britannica";
	color: white;
	font-weight: bold;
	font-size: 2em;
	width: 200px;
	height: 200px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
}

.class-buttons > button#discover {
	background-color: #00B0F0;
}
.class-buttons > button#discover:hover {
	background-color: #004B67;
}
.class-buttons > button#explore {
	background-color: #91D050;
}
.class-buttons > button#explore:hover {
	background-color: #385818;
}
.class-buttons > button#create {
	background-color: #FFC000;
}
.class-buttons > button#create:hover {
	background-color: #ffdd76;
}
.class-buttons > button#summer {
	background-color: #D664D3;
}
.class-buttons > button#summer:hover {
	background-color: #4e154c;
}
.class-buttons > button#school {
	background-color: #9B57D3;
}
.class-buttons > button#school:hover {
	background-color: #361551;
}

.sponsors {
	text-align: center;
}

img#front-page {
	max-width: 80%;
	margin: auto;
	display: block;
}

div#sponsor2 img {
	position: relative;
	width: 30%;
	max-height: 125px;
	padding: 10px;
}

div#sponsor3 img {
	position: relative;
	width: 25%;
	max-height: 100px;
	padding: 10px;

}
