/* spacing */

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid purple;
}

thead th:nth-child(1) {
  width: 16%;
}

thead th:nth-child(2) {
  width: 16%;
}

thead th:nth-child(3) {
  width: 16%;
}

thead th:nth-child(4) {
  width: 16%;
}

thead th:nth-child(5) {
  width: 16%;
}

thead th:nth-child(6) {
  width: 16%;
}


th, td {
  padding: 16px;
}


/* typography */

html {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

thead th, tfoot th {
  font-family: 'Rock Salt', cursive;
}

th {
  letter-spacing: 2px;
}

td {
  letter-spacing: 1px;
}

tbody td {
  text-align: center;
}

tfoot th {
  text-align: right;
}